.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.input {
  width: 400px;
  height: 50px;
  border: 1px solid grey;
  padding: 10px 15px;
  font-size: 1.2em;
  color:#292424;
  text-align: left;
}
.input1{
  width: 400px;
  height: 50px;
  padding: 0 15px;

}
.edit_area{
  width: 400px;
  height: 50px;
  font-size: 1.2em;
  color:#292424;
}

.edit_btn{
  width: 30px;
  float: right;
}
.delete{
  float: right;
}

.todo_container{
  width: 400px;
  margin:  40% auto;
}
